<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <script th:src="@{~/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <table class="table table-striped">
        <legend>
            <strong>交易列表</strong>
        </legend>
        <thead>
        <tr>
            <th>交易Id</th>
            <th>基金名称</th>
            <th>基金代码</th>
            <th>交易金额</th>
            <th>交易净值</th>
            <th>交易时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${tx.id}"></td>
            <td th:text="${tx.name}"></td>
            <td th:text="${tx.code}"></td>
            <td th:text="${tx.amount}"></td>
            <td th:text="${tx.netValue}"></td>
            <td th:text="${tx.createdTime}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>